.footer {
    background-color: #001d3d;
    min-height: calc(80vh - 80px);
    margin-top: auto;
    padding: 50px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer img {
    width: 60px;
}

.footer .footer-heading-1 {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid white;
}

.footer .footer-description {
    max-width: 20rem;
    padding: 20px 0;
    color: aliceblue;
    font-size: 1.1rem;
}

.footer .footer-heading {
    border-bottom: 2px solid white;
}

.footer .footer-heading h1 {
    color: var(--text-hover-color);
}

.footer-col-2 {
    display: flex;
    flex-direction: column;
    /* padding: 0 20px; */
}

.footer-col-2 .footer-heading {
    padding: 16.2px 0;
}

.footer-col-2 h2 {
    color: var(--text-hover-color);
}

.footer-col-2 h2 span {
    /* color: var(--text-hover-color); */
    color: #001d3d;
    text-shadow: 2px 2px 2px rgb(246, 255, 0);
}

.footer .footer-col-2 .social-links {
    width: 100%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px 0;
}

.social-links a span {
    font-size: 1rem;
    /* text-decoration: dashed; */
    color: var(--text-hover-color);
}

.social-links a {
    text-decoration: dashed;
    color: var(--text-hover-color);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px;
    transition: outline 0.2s ease-in-out
}

.social-links a:hover {
    outline: 1px solid var(--text-hover-color);
    border-radius: 2px;
}

.footer .footer-col-2 .footer-contact-info {
    width: 100%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px 0;
}

.footer-contact-info a span {
    font-size: 1rem;
    /* text-decoration: dashed; */
    color: var(--text-hover-color);
}

.footer-contact-info a {
    text-decoration: dashed;
    color: var(--text-hover-color);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px;
    transition: outline 0.2s ease-in-out
}

.footer-contact-info a:hover {
    outline: 1px solid var(--text-hover-color);
    border-radius: 2px;
}

.footer-contact-form {
    max-width: 18rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px 0;
}

.footer-contact .footer-heading {
    padding: 16.2px 0;
}

.footer-contact h2 {
    color: var(--text-hover-color);
}

.footer-contact-form .contact-button {
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.footer-contact-form .contact-button:hover {
    background-color: var(--text-hover-color);
    color: var(--slider-text-backgroung-color);
}

input,
button,
textarea {
    border: 2px solid rgb(255, 255, 255);
    color: var(--text-hover-color);
    background-color: #001d3d;
    padding: 5px;
    font-size: 1rem;

    &:focus {
        outline: none;
    }
}

textarea {
    min-height: 10rem;
    resize: vertical;
}

.footer .footer-copy-right {
    width: 100%;
    color: var(--text-hover-color);
    text-align: center;
    /* box-shadow: inset 0 0 10px #ffffff; */
}

.footer .footer-copy-right::before {
    /* position: relative; */
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: aliceblue;
}

.footer-copy-right p {
    font-size: .8rem;
    font-weight: 600;
    padding: 10px;
}


@media(max-width:1100px) {
    .footer {
        padding: 10px 10px 0px 10px;
    }

    .footer .footer-col-2 .social-links {
        width: 100%;
        font-size: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 20px;
        padding: 20px 0;
    }

    .footer .footer-col-2 .social-links a span {
        display: none;
    }

}

@media(max-width:550px) {
    .footer .footer-col-2 {
        min-width: 90%;
    }

    .footer .footer-contact {
        min-width: 90%;
    }

    .footer .footer-contact .footer-contact-form {
        min-width: 90%;
    }

    .footer .footer-description {
        padding: 10px 0;
    }

    .footer .footer-col-2 .social-links {
        padding: 10px 0;
    }

    .footer .footer-col-2 .footer-contact-info {
        padding: 10px 0;
    }

    .footer .footer-col-2 .footer-heading {
        padding: 10px 0;
    }

    .footer .footer-heading-1 {
        border-top: 2px solid white;
    }
}

@media(max-width:330px) {
    .footer .footer-col-2 .social-links {
        width: 100%;
        font-size: 1.5rem;
        justify-content: space-between;
        gap: 0px;
        padding: 20px 0;
    }
}