:root {
    --primary-color: #edf2f4;
    --text-color: #000000;
    --text-hover-color: #ffffff;
    --slider-text-backgroung-color: #001d3d; 
    --border-color : black;
    --background-color: white;
    --home-services-background: #bde0fe68;
    --review-background-color: #ffb8036a;
}