.track-service {
    height: fit-content;
    min-height: calc(100vh - 80px);
    width: calc(100% - 16rem);
    margin-left: 16rem;
    margin-top: 80px;
    /* display: flex;
    justify-content: center; */
    padding: 20px 30px;
}

.track-service-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}


.track-service-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 50%;
    /* flex-grow:initial; */
}

.track-service-content span {
    font-weight: 600;
}

.track-service-content span:last-child {
    font-weight: 100;
}

.track-service-content p {
    text-transform: capitalize;
}

.track-service-content div {
    display: flex;
    gap: 5px;
}

.track-service-description {
    display: flex;
    flex-direction: column;
}




.time-line {
    flex: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0px;
}

.time-line h1 {
    padding-left: 10px;
    padding-bottom: 10px;
}

.time-line-container {
    background: linear-gradient(to bottom,
            #2a9d8f 0%,
            #2a9d8f 50%,
            rgb(232, 232, 232) 0%,
            rgb(232, 232, 232) 100%);
}


.time-line-second-container {
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
    padding-left: 10px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
}

.time-line-content {
    padding: 15px;
    /* border: 1px solid red; */
    box-shadow: 0px 0px 5px gray;
    background-color: #edede9;
    border-radius: 10px;
    position: relative;
}

.time-line-content::before {
    content: " ";
    width: 10px;
    height: 10px;
    background-color: rgb(253, 253, 253);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: -22px;
    top: 0px;
    border: 4px solid #f4a261;
}




@media(max-width:1000px) {
    .track-service {
        width: calc(100%);
        margin-left: 0rem;
        padding: 50px 20px;
    }
}

@media(max-width:700px) {
    .track-service-container {
        display: flex;
        flex-direction: column;
    }

}

@media(max-width:400px){
    .track-service h1{
        font-size: 1.5rem;
    }
}

.payment{
    display: flex;
    color: #2a9d36;
    font-size: 1.2rem;
}